<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Robotics system design and development</h4>
                    <p class="text-muted"> Design and development of robotic systems, including both hardware and software components. Development of custom robotic systems, integrating existing robotic systems, and providing technical support and maintenance.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Robotics software development</h4>
                    <p class="text-muted">Development of software for robotics systems, including low-level control software, and high-level control software. Development of simulation environments for robots, allowing clients to test their systems before deploying them in the real world.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Robotics integration</h4>
                    <p class="text-muted"> Integration of robotic systems into existing systems, such as manufacturing lines and automation systems. Designing and installation of robotic systems, integrating various hardware components into a robotic system, including actuators, sensors, cameras, and other components. Design custom enclosures and mechanical systems to fit the specific needs of a project.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Robotics, maintenance, support and consulting</h4>
                    <p class="text-muted"> Provide ongoing support for clients' robotic systems, including maintenance, upgrades, and troubleshooting. Including remote monitoring, on-site repairs, and software updates. Consulting services to help you understand your options for using robotics technology in your operations. Feasibility studies, hardware and software solutions, and training and support.</p>
                </div>
            </div>
        </div>
    </section>
